<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name = "viewport" content = "width = device-width, user-scalable = no, maximum-scale = 1.0">
		<link href="css/app.min.css" rel="stylesheet">
		<title>Login</title>
    </head>
	<body>
    	<div class="container-fluid">
        	<div class="row">
            	
            	<div class="col-sm-6 col-xs-6 login">
                	
                	<form id="login">
                    	<div class="alert alert-danger hide"></div>
                    	
                    	<div class="input-wrapper">
                        	<input class="trans" id="email" type="email" name="email" placeholder="Email" required>
                    	</div>
                    	
                    	<div class="input-wrapper">
                    	    <input class="trans" id="password" type="password" name="password" placeholder="Password" required>
                    	</div>
                    	
                    	<div class="input-wrapper">
                        	<input class="btn btn-primary" type="submit" id="doLogin" value="Login"> 
                    	</div>
                	</form><br>
                	<p><a href="/register">Need an account?</a></p>
            	</div>
        	</div>
        </div>
		<script src="js/min/app.min.js"></script>
	</body>
</html>
